body{
    text-align: center;
    background-color: #24292e;
    color: #FFFFFF;
}

.jumbotron{
    color: #000000;
}

form{
    color: #000000;
}

label{
    color: #FFFFFF;
}

#teamDesc{
    margin: 40px;
}