{{#partial "content"}}
    <h3>Rules:</h3>
    <ol>
        <li>All teams have 96 hours* to borrow or replace one item from any** time period, and present their findings to a Judge.</li>
        <li>The team is disqualified if their nature as time travelers is detected.</li>
        <li>The item taken must either be replaced with a functional equivalent or returned before it is missed.</li>
        <li>Any action which prevents the Convention from occurring or otherwise requires Judge intervention disqualifies the team.</li>
    </ol><br>
    <ul>
        <li>*measured in E/Rosen Objective Dimensional Standard</li>
        <li>**see Announcements below</li>
    </ul>
    <h3>Announcements</h3>
    <p>By order of the Convention Judges, the following actions and time periods are banned from the competition:</p>
    <ul>
        <li>450,000 BC Through 550,000 BC</li>
        <li>The Declaration of Independence</li>
        <li>Cleopatra's comb. She's starting to catch on.</li>
        <li>Anything to do with Adolph Hitler. Lets try to be original.</li>
    </ul>
{{/partial}}

{{> layout.hbs}}