{{#partial "content"}}
    <p>All Teams</p>

    {{#if allTeams}}
        {{#each allTeams}}
            <p>{{name}} <a href="/teams/{{id}}">[Details]</a></p>
        {{/each}}
    {{else}}
        <p>Nobody's signed up yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}