{{#partial "content"}}
    <p>All Teams</p>

    {{#if allTeams}}
        <p>hello</p>
        {{#each allTeams}}
            {{name}}
        {{/each}}
    {{else}}
        <p>Nobody's signed up yet!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}