{{#partial "content"}}
    <h3>{{team.name}}</h3>

    <p id="teamDesc">{{team.description}}</p>

    <p>Members: </p>
    {{#each team.members}}
        <p>{{ this }}</p>
    {{/each}}
{{/partial}}

{{> layout.hbs}}