{{#partial "content"}}
    <p>Placeholder! -- Detail of Team</p>

    <p>{{team.name}}</p>
    <p>{{team.description}}</p>
    {{#each team.members}}
        {{ team.member }}
    {{/each}}
{{/partial}}

{{> layout.hbs}}